.menu__fixed {
  box-sizing: border-box;
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 100%;
}
.menu {
  box-sizing: border-box;
}

.menu-open {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 35px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none;
  transition: background 0.3s;
}

.menu-open {
  width: 28px;
}

.menu-hide {
  display: none;
}

.menu-open:focus {
  outline: none;
}

.menu-open span {
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  height: 3px;
  background: #7854FE;
  border-radius: 5px;
}

.menu-open span::after,
.menu-open span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: #7854FE;
  border-radius: 5px;
  content: "";
}

.menu-open span::before {
  top: -9px;
}

.menu-open span::after {
  bottom: -9px;
}

.menu-open--htx {
  background-color: none;
  border-radius: 5px;
}

.menu-open--htx span {
  transition: background 0s 0.3s;
}

.menu-open--htx span::after,
.menu-open--htx span::before {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.menu-open--htx span::before {
  transition-property: top, transform;
}

.menu-open--htx span::after {
  transition-property: bottom, transform;
}
/* состояние active при открытом меню  */
.menu-open--htx.is-active {
  background: none;
}

.menu-open--htx.is-active span {
  background: none;
}

.menu-open--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-open--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-open--htx.is-active span::after,
.menu-open--htx.is-active span::before {
  transition-delay: 0s, 0.3s;
}

.menu__hidden {
  position: absolute;
  background: none;
  animation: bounce 0.5s;
  position: relative;
  z-index: 1000;
}
@keyframes bounce {
  0% {
    transform: translateY(-200px);
  }
}

.menu__logo-link {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #7854FE;

  & span {
    display: none;
  }
}

.menu__lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  align-items: center;
}

.menu__list {
  padding: 8px 0;
  display: flex;

}

.menu__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #131313;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.menu__link:hover,
.menu__link:focus {
  color: #7854FE;
}

.menu__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  // padding-top: 35px;
  position: relative;
  z-index: 1001;
  min-height: 60px;
}

.menu__toggles {
  width: 78px;
}

.menu__toggle {
  border: none;
  color: none;
  outline: none;
  background: none;
}
@media (min-width: @size-tablet) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
  }

  .menu__range {
    display: flex;
  }

  .menu-open {
    display: none;
  }

  .menu-hide {
    position: relative;
    display: flex;
  }

  .menu__hidden {
    display: flex;
    align-items: center;
    flex-grow: 1;
    animation: none;
  }

  .menu__logo {
    width: 160px;
  }

  .menu__lists {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu__list {
    align-items: center;
    padding: 0;
    background: none;
  }

  .menu__list:not(:last-child) {
    margin-right: 30px;
  }


  .menu__link {
    padding-top: 0;
    margin-top: 10px;
  }

  .menu__logo-link {
    line-height: 15px;

    & span {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 10px;
      color: #131313;
      text-align: center;
    }
  }
}
@media (min-width: @size-desktop) {
  .menu {
    justify-content: flex-start;
    min-height: 123px;
  }
  .menu__logo-link {
    font-size: 48px;
    line-height: 27px;
    padding: 0;
    text-align: center;

    & span {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .menu__logo {
    padding-top: 0;
    width: 248px;
    margin: 0;
    align-items: center;
  }

  .menu__lists {
    margin-right: 0;
    margin-left: 30px;
  }

  .menu__link {
    padding-top: 0;
  }

  .menu__hidden {
    justify-content: flex-end;
  }

}
