div.advantage__bg
  div.container
    section.advantage
      h2.advantage__title Почему стоит выбрать SiteName
      ul.advantage__lists
        li.advantage__list
          div.advantage__block
            img(src="img/advantage1.svg" alt="Преимущество 1").advantage__img
            h3.advantage__name Преимущество 1
          p.advantage__text Краткое описание преимущества в несколько строк, одинаковое количество строк, не более 4-5
        li.advantage__list
          div.advantage__block
            img(src="img/advantage2.svg" alt="Преимущество 2").advantage__img
            h3.advantage__name Преимущество 2
          p.advantage__text Краткое описание преимущества в несколько строк, одинаковое количество строк, не более 4-5
        li.advantage__list
          div.advantage__block
            img(src="img/advantage3.svg" alt="Преимущество 3").advantage__img
            h3.advantage__name Преимущество 3
          p.advantage__text Краткое описание преимущества в несколько строк, одинаковое количество строк, не более 4-5
        li.advantage__list
          div.advantage__block
            img(src="img/advantage4.svg" alt="Преимущество 4").advantage__img
            h3.advantage__name Преимущество 4
          p.advantage__text Краткое описание преимущества в несколько строк, одинаковое количество строк, не более 4-5
