div.comments__bg
  div.container
    section.comments
      h2.visually-hidden  Отзывы
      div.comments__mobile
        p.comments__description Скачайте сейчас
        p.comments__item Присоединитесь к сотням тысяч пользователей<br> по всему миру
      div.comments__desktop
        p.comments__description Запущено более 218 проектов
        p.comments__item Почитайте отзывы инвесторов, возможно ваш станет следующим
      div.comments__lists
        div.comments__list
          img(src="img/photo.jpg" alt="фото").comments__img
          h3.comments__name Заголовок отзыва
          p.comments__text Заказ в системе без проблем<br> и лишних разговоров. Настраиваются кампании для App Store, запускают после пополнения баланса через WebMoney. Принимают заказы на отзывы со своим текстом. Способ пополнения баланса: WebMoney, Интеркасса. Комментарии модерируются, но стоит перепроверять самим и жаловаться на откровенную бессмыслицу
          p.comments__author Максим Иванов, 
            a(href="#") Digital Square
        div.comments__list
          img(src="img/photo.jpg" alt="фото").comments__img
          h3.comments__name Заголовок отзыва
          p.comments__text Заказ в системе без проблем<br> и лишних разговоров. Настраиваются кампании для App Store, запускают после пополнения баланса через WebMoney. Принимают заказы на отзывы со своим текстом. Способ пополнения баланса: WebMoney, Интеркасса. Комментарии модерируются, но стоит перепроверять самим и жаловаться на откровенную бессмыслицу
          p.comments__author Максим Иванов,
            a(href="#") Digital Square
        div.comments__list
          img(src="img/photo.jpg" alt="фото").comments__img
          h3.comments__name Заголовок отзыва
          p.comments__text Заказ в системе без проблем<br> и лишних разговоров. Настраиваются кампании для App Store, запускают после пополнения баланса через WebMoney. Принимают заказы на отзывы со своим текстом. Способ пополнения баланса: WebMoney, Интеркасса. Комментарии модерируются, но стоит перепроверять самим и жаловаться на откровенную бессмыслицу
          p.comments__author Максим Иванов,
            a(href="#") Digital Square
        div.comments__list
          img(src="img/photo.jpg" alt="фото").comments__img
          h3.comments__name Заголовок отзыва
          p.comments__text Заказ в системе без проблем<br> и лишних разговоров. Настраиваются кампании для App Store, запускают после пополнения баланса через WebMoney. Принимают заказы на отзывы со своим текстом. Способ пополнения баланса: WebMoney, Интеркасса. Комментарии модерируются, но стоит перепроверять самим и жаловаться на откровенную бессмыслицу
          p.comments__author Максим Иванов,
            a(href="#") Digital Square
        div.comments__list
          img(src="img/photo.jpg" alt="фото").comments__img
          h3.comments__name Заголовок отзыва
          p.comments__text Заказ в системе без проблем<br> и лишних разговоров. Настраиваются кампании для App Store, запускают после пополнения баланса через WebMoney. Принимают заказы на отзывы со своим текстом. Способ пополнения баланса: WebMoney, Интеркасса. Комментарии модерируются, но стоит перепроверять самим и жаловаться на откровенную бессмыслицу
          p.comments__author Максим Иванов,
            a(href="#") Digital Square
  div.comments__block
    div.comments__logo 
      img(src="img/LOGO1.png" alt="logo")
      img(src="img/Logo2.png" alt="logo")
      img(src="img/LOGO3.png" alt="logo")
      img(src="img/LOGO4.png" alt="logo")
      img(src="img/Logo5.png" alt="logo")
      img(src="img/LOGO6.png" alt="logo")
      img(src="img/Logo7.png" alt="logo")
      img(src="img/LOGO8.png" alt="logo")
            
