div.data__bg
  section.data.container
    h2.data__title SiteName в цифрах
    ul.data__lists
      li.data__list
        span 16 450
        p Скачиваний в неделю
      li.data__list
        span 265 450
        p Регулярных пользователей
      li.data__list
        span 1 692
        p Перспективных инвестора
      li.data__list
        span 244
        p Человека в команде
