div.faq__bg
  div.container
    section.faq
      h2.faq__title FAQ
      div.faq__block
        div.faq__accordion
          div.faq__trigger
            input(type="checkbox" id="checkbox-1" name="checkbox-1")
            label(for="checkbox-1" id="label-1").faq__checkbox 
              span Популярный вопрос номер один?
            div(id="content-1").faq__content
              p.faq__text Если приложение работает со сбоями, не открывается или не реагирует на команды, перезагрузите ваше устройство. Если ошибка повторится, текст в 3-6 строк
          div.faq__trigger
            input(type="checkbox" id="checkbox-2" name="checkbox-2")
            label(for="checkbox-2" id="label-2").faq__checkbox
              span Еще один вопрос номер два?
            div(id="content-2").faq__content
              p.faq__text Если приложение работает со сбоями, не открывается или не реагирует на команды, перезагрузите ваше устройство. Если ошибка повторится, текст в 3-6 строк
          div.faq__trigger
            input(type="checkbox" id="checkbox-3" name="checkbox-3" checked)
            label(for="checkbox-3" id="label-3").faq__checkbox
              span Раскрытый вопрос, поэтому третий?
            div(id="content-3").faq__content
              p.faq__text Если приложение работает со сбоями, не открывается или не реагирует на команды, перезагрузите ваше устройство. Если ошибка повторится, текст в 3-6 строк
          div.faq__trigger
            input(type="checkbox" id="checkbox-4" name="checkbox-4")
            label(for="checkbox-4" id="label-4").faq__checkbox
              span Четвертый закрытый вопрос?
            div(id="content-4").faq__content
              p.faq__text Если приложение работает со сбоями, не открывается или не реагирует на команды, перезагрузите ваше устройство. Если ошибка повторится, текст в 3-6 строк
        div.faq__img
          img(src="img/iPhone2.png" alt="телефон")
          a(href="#start").faq__up
            span.visually-hidden Вверх
