div.load__bg
  div.container
    section.load
      div.load__block
        h2.load__title Скачайте сейчас
        p.load__text Присоединитесь к сотням тысяч пользователей<br> по всему миру
      div.load__images
        img(src="img/app.png").load__img
        img(src="img/google.png").load__img
      
