div.map__bg
  div.container
    section(id="map").map
      div.map__block
        h2.map__title Контакты
        p.map__text г. Новогородск, 
          span ул. Шпальная, 12
        a(href="tel: 88005525225").map__tel 8 800 552 52 25
        a(href="#").map__button Заказать звонок
        div.map__social
          a(href="#").map__link.map__tg
            span.visually-hidden telegram
          a(href="#").map__link.map__tw
            span.visually-hidden twitter
          a(href="#").map__link.map__fb
            span.visually-hidden facebook
