nav.menu__fixed
  div.menu.container
    div.menu__logo
      a(href="index.html").menu__logo-link SiteName
        span Альтернативный маркет
      button.menu-open.menu-open--htx
        span Открыть меню
    div.menu__hidden.menu-hide
      ul.menu__lists
        li.menu__list 
          a(href="#market").menu__link О маркете
        li.menu__list
          a(href="#work").menu__link Как работает
        li.menu__list
          a(href="#faq").menu__link FAQ
        li.menu__list
          a(href="#start").menu__link Стать частью команды
        li.menu__list
          a(href="#map").menu__link Контакты
        li.menu__list.menu__toggles
          button(type="button").menu__link.menu__toggle Ру
          span.menu__link /
          button(type="button").menu__link.menu__toggle En
