div.work__bg
  section.work.container
    h2.work__title Как работает SiteName
    div.work__play
      video(width="270" height="180" poster="img/video-bg-m.jpg").work__video
      button(type="button").work__button
        span.visually-hidden Включить проигрыватель
    a(href="#").work__link Стать инвестором
